# 1. URL for your Node.js backend
VITE_SERVER=

#VITE_SERVER=https://projora.onrender.com

# 2. Public Cloudinary details (for the upload helper)
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_API_KEY=

