PORT=
MONGO_URL=

Activation_sec=
Jwt_sec=

ADMIN_EMAIL=
USER_EMAIL=


Password=

Gmail=

RESEND_API_KEY=



CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

RAZORPAY_KEY_ID=

RAZORPAY_KEY_SECRET=
